
.h1{font-family: comic sans ms;
font-size: 20pt;
text-align: center;
color: black;
}
.p{font-family: calibri;
font-size: 12pt;
text-align: center;
color: black;
}
.pp{font-family: calibri;
font-size: 12pt;
text-align: center;
color: orange;
}

